.perfil {
   display: none;
   height: 650px;
   position: relative;
}
.capa img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.capa {
   width: 100%;
   height: 100px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   overflow: hidden;
}
.foto img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   justify-content: center;
}
.foto {
   border: solid white 2px;
   height: 118px;
   width: 118px;
   overflow: hidden;
   margin: auto;
}
.perfil-group {
   top: 50px;
   position: absolute;
   text-align: center;
   width: 100%;
}
.seguidores {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-self: center;
   margin: auto;
   gap: 20px;
   width: 70%;
}
.seg {
   background-color: var(--cor-corpo);
   height: auto;
   width: 100%;
   box-sizing: border-box;
   padding: 10px 0;
   margin-top: 10px;
}
.seg p {
   margin: 0;
   color: var(--btn-claro);
}
.separador hr {
   border: 1px solid var(--separador);
}
.separador {
   padding: 0 10px;
   margin: 20px 0;
}
.perfil-opt {
   display: grid;
   gap: 5px;
   width: 70%;
   margin: auto;
}
.perfil-opt button {
   display: flex;
   border-radius: 4px;
   gap: 16px;
   padding: 8px 16px;
   border: none;
   text-align: left;
   align-items: center;
   font-size: larger;
   font-weight: bolder;
}
.perfil button img {
   height: 24px;
   width: 24px;
}
.logolg {
   display: none;
}
.btn-header:nth-child(3) {
   display: none;
}
@media screen and (min-width: 992px) {
   .perfil {
      display: grid;
   }
   .logoxs {
      display: none;
   }
   .logolg {
      display: initial;
   }
   .btn-header:nth-child(3),
   .notificacao {
      display: initial;
   }
   .btn-top {
      display: flex;
   }
}
