@import url(grid.css);
@import url(variaveis.css);
@import url(postar.css);
@import url(story.css);
@import url(perfil.css);
@import url(feed.css);
@import url(parecidos.css);
@import url(alta.css);
body {
   /* margin: 0; */
}
body,
html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   background-color: var(--cor-corpo);
}

.header {
   height: 64px;
   width: 100%;
   background-color: var(--cor-header);
   display: flex;
   padding: 14px 64px;
   box-shadow: 0px 5px 5px var(--sombra);
   position: sticky;
   top: 0;
   z-index: 5;
   justify-content: space-between;
}

.logo {
   align-self: center;
}

.pesquisa {
   display: flex;
}

.pesq input {
   height: 40px;
   border: 1px solid var(--btn-cinza);
   border-radius: 5px;
   margin-right: 5px;
   font-size: large;
   padding-left: 15px;
}

.pesq button {
   height: 45px;
   border: 0px solid;
   border-radius: 5px;
   background-color: var(--btn-cinza);
}

.opt {
   display: flex;
   gap: 5px;
   /* align-content: end; */
   /* justify-content: end; */
}

.btn-header {
   height: 40px;
   width: 40px;
   background-color: var(--btn-claro);
   border: 0px solid;
   border-radius: 5px;
}

.btn-header-foto {
   padding: 0;
}

.btn-header-foto img {
   height: 40px;
   width: 40px;
   border-radius: 5px;
}

main {
   width: 100%;
   padding-left: 64px;
   padding-top: 16px;
   padding-right: 64px;
}

.perfil {
   height: 700px;
   background-color: var(--fundo-cont);
   border: 1px var(--separador) solid;
   border-radius: 5px;
}

.story {
   height: 165px;
}

.postar {
   height: 168px;
   background-color: var(--fundo-cont);
   border: 1px var(--separador) solid;
   border-radius: 5px;
}

.feed {
   background-color: var(--fundo-cont);
   border: 1px var(--separador) solid;
   border-radius: 5px;
}

.aside {
   height: 780px;
   display: none;
}

.parecidos {
   background-color: var(--fundo-cont);
   border: 1px var(--separador) solid;
   border-radius: 5px;
   margin-bottom: 24px;
}

.alta {
   background-color: var(--fundo-cont);
   border: 1px var(--separador) solid;
   border-radius: 5px;
}

.notificacao {
   height: 10px;
   width: 10px;
   border-radius: 5px;
   background-color: red;
   position: absolute;
}
@media screen and (min-width: 1200px) {
   .aside {
      display: grid;
   }
}
