@import url(grid.css);
:root {
   --bar-cor: rgb(255, 255, 255);
   --bg-cor: rgb(243, 243, 243);
   --sombra: rgb(204, 204, 204);
   --cor-btn: rgb(190, 190, 190);
   --cor-btn-claro: rgb(211, 211, 211);
}
body {
   margin: 0;
   padding-right: 7vw;
   background-color: var(--bg-cor);
}
.bar {
   background-color: var(--bar-cor);
   width: 93vw;
   height: 50px;
   padding-left: 64px;
   box-shadow: 0 5px 5px var(--sombra);
   position: fixed;
}
.logo {
   align-self: center;
}
/* .espaco {
   height: 100000px;
} */
.lateral {
   align-content: end;
   margin: 1px;
}
input.pesquisa {
   border: 1px solid var(--cor-btn);
   border-radius: 5px;
   height: 40px;
   width: 300px;
}
.btn {
   background-color: var(--cor-btn);
   border: 1px solid var(--cor-btn);
}
.h-btn {
   border: 0px solid;
   background-color: var(--cor-btn-claro);
   height: 40px;
   width: 40px;
   border-radius: 5px;
}
.head-cont {
   justify-content: end;
   gap: 5px;
}
